<mat-card>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search value" [value]='(filter$ | async).value' (change)='setFilterValue($event)'>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Search property" [value]='(filter$ | async).filterBy' (valueChange)='setFilterField($event)'>
      <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value">
        {{ filterOption.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
